# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Gradle
.gradle/
build/
gradle/
!gradle/wrapper/gradle-wrapper.jar

# Maven
target/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Selenide downloads
build/downloads/